@import url(https://fonts.googleapis.com/css?family=Raleway:600);

/* Top Image */
#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav Bar */
.navbar-header {
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

.nav li {
    display: inline-block;
}

.nav a {
    display:inline-block;
}

#navbarText {
    font-family: 'Raleway';
    font-size: 2em;
    text-align: center;
}

#navbarText a {
    color: black;
}

#logo {
    padding-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Bullet points */
#school {
    list-style-image: url(../img/bullet.svg);

}

/* Text and images */
#me {
    border-radius: 25px;
}

.category {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    text-align: center;
    font-size: 3em;
}

h3 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Phone adaption */
@media only screen and (min-width: 786px) {
    #navbarText {
        font-size: 4em;
    }
}
