<div class='container' id='schoolDiv'>
    <img class='img-responsive animated zoomInDown' src='img/education.jpg'>
    <div class='animated zoomInUp'>
        <div>
            <h1>General</h1>
            <div id='general'>
                <ul id='school'>
                    <li>3.47 GPA</li>
                    <li>Graduation: June 2017</li>
                    <li>Dean's List: Winter 2014, Spring 2014, Winter 2015</li>
                </ul>
            </div>
            <img class='img-responsive' src='img/divide.jpeg'>
        </div>
        <h1>Related Classes</h1>
        <div class='row' id='classes'>
            <div ng-repeat='course in courseInfo' class='course col-xs-6 col-sm-4 col-md-2'>
                <div class='courses'>
                    <ul>
                        <li>
                            <a href="/education" data-toggle="popover" title="{{course.Class + ' ' + course.Number}}" data-content="test content">{{course.Class + ' ' + course.Number}}</a>
                        </li>
                    </ul>
                    <!-- <h2 class='courseTitle'>{{course.Class + ' ' + course.Number}}</h2>
                    <h3 class='courseDetails'>{{course.Title}}</h3>
                    <p class='courseGrades'>{{course.Quarter + ' ' + course.Year}}</p>
                    <p class='courseGrades'>{{'GPA: ' + course.GPA}}</p> -->
                </div>
            </div>
            <img class='img-responsive' src='img/divide.jpeg'>
        </div>
        <h1> Other Classes </h1>
        <div class='row' id='classes'>
            <div ng-repeat='course in otherInfo' class='course col-xs-6 col-sm-4 col-md-2'>
                <div class='courses'>
                    <h2 class='courseTitle'>{{course.Class + ' ' + course.Number}}</h2>
                    <h3 class='courseDetails'>{{course.Title}}</h3>
                    <p class='courseGrades'>{{course.Quarter + ' ' + course.Year}}</p>
                    <p class='courseGrades'>{{'GPA: ' + course.GPA}}</p>
                </div>
            </div>
            <img class='img-responsive' src='img/divide.jpeg'>
        </div>
    </div>
</div>