<div class='container' id='schoolDiv'>
    <img class='img-responsive animated zoomInDown' src='img/education.jpg'>
    <div class='animated zoomInUp'>
        <div>
            <h1>General</h1>
            <div id='general'>
                <ul id='school'>
                    <li>3.47 GPA</li>
                    <li>Graduation: June 2017</li>
                    <li>Dean's List: Winter 2014, Spring 2014, Winter 2015</li>
                </ul>
            </div>
            <img class='img-responsive' src='img/divide.jpeg'>
        </div>
        <h2>Classes</h2>
        <!--The form to determine what kind of class is shown-->
        <form id='classForm'>
            <div class='form-group'>
                <span class='classButton'>
                    <input type='radio' ng-model='classCategory' value='all' id='all' ng-checked='true'/>
                    <label for='all'>All</label>
                </span>
                <span class='classButton'>
                    <input type='radio' ng-model='classCategory' value='info' id='info'/>
                    <label for='info'>Informatics</label>
                </span>
                <span class='classButton'>
                    <input type='radio' ng-model='classCategory' value='cse' id='cse'/>
                    <label for='cse'>Computer Science</label>
                </span>
                
            </div>
        </form>

        <div class='row'>
            <!--Puts the different courses taken in the DOM, also creates the popover element-->
            <div ng-repeat='class in courseInfo' ng-if ='(classCategory.toUpperCase() == class.Class || classCategory.toUpperCase() == "ALL")' class='courses col-xs-6 col-sm-4 col-md-3'>
                <a popover tabindex='0' class='course btn btn-default' role='button' data-toggle='popover' data-placement='top' data-trigger='focus' data-html='true' data-original-title='{{class.Class + " " + class.Number}}' data-content='<p class="popoverCourseTitle">{{class.Class_Title}}</p><p class="popoverCourseTaken">{{"Taken: " + class.Quarter + " " + class.Year}}</p><p class="popoverCourseBody">{{class.Description}}</p>'>{{class.Class + ' ' + class.Number}}</a>
            </div>
        </div>
    </div>
</div>